Config(
    models: [ Model (name: "axis", location: "obj/axis.obj"), Model (name: "arrow", location: "obj/arrow.obj"),],
    entities: [ Entity (kind: Player, model_name: "arrow"), Entity (kind: Static, model_name: "axis"),],
)